@model Vidly.App.ViewModels.RentalFormViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label>Rental No: @Model.RentalNo</label>
            <br />
            <label>Customer: @Model.Customer.Name</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group pull-right">
            @Html.ActionLink("Back", "Index", "Rentals", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <h4>Rented Movies</h4>
        <table id="rented" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Genre.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        $("#rented").DataTable();
    </script>
}

