@model Vidly.App.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary(true, "Please fix the following errors", new { @class = "field-validation-error" })
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @autocomplete = "off" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group" style="position:relative;">
        @Html.LabelFor(x => x.ReleaseDate)
        @Html.TextBoxFor(x => x.ReleaseDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ReleaseDate)
    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.GenreId)
        @Html.DropDownListFor(x => x.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.GenreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.NumberInStock)
        @Html.TextBoxFor(x => x.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NumberInStock)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Rating)
        <div onmouseout="RateSelected()">
            @for (int i = 1; i <= 5; i++)
            {
                <span id="span-@i" onmouseout="RateOut(@i)" onmouseover="RateOver(@i)" onclick="RateClick(@i)" class="fa fa-star-o"></span>
            }
        </div>
        @Html.ValidationMessageFor(x => x.Rating)
    </div>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Rating)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", "Movies", null, new { @class = "btn btn-default" })
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ReleaseDate').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            RateSelected()
        })

        function RateOut(rating) {
            for (let i = 1; i <= rating; i++) {
                $("#span-" + i).attr("class", "fa fa-star-o");
            }
        }

        function RateOver(rating) {
            for (let i = 1; i <= rating; i++) {
                $("#span-" + i).attr("class", "fa fa-star text-star");
            }
        }

        function RateClick(rating) {
            $("#Rating").val(rating);
            for (let i = 1; i <= rating; i++) {
                $("#span-" + i).attr("class", "fa fa-star text-star");
            }
            for (let i = rating + 1; i <= 5; i++) {
                $("#span-" + i).attr("class", "fa fa-star-o");
            }
        }

        function RateSelected() {
            let rating = $("#Rating").val();
            for (var i = 1; i <= rating; i++) {
                $("#span-" + i).attr("class", "fa fa-star text-star");
            }
        }

    </script>
}

